/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 nov. de 2021, 21:11:57
    Author     : rusok-pro
*/

img {
    width: 120px;
    height: 120px;
}